*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Centratura pagina */
.container{
    width: 1200px;
    margin: 0 auto;
}

/* Stile Banner e Logo Header */
.header {
    background-color: rgb(78, 160, 255);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
    height: 10%;
}

.header img{
    margin-top: 40px;
    margin-left: 350px;
    width: 200px;
}
/* Stile Heading */
.subtitle{
    color: gray;
}

h4 span{
    color: rgb(31, 167, 226) ;
}

/* Immagini e descrizione */
.pictures{
    margin-top: 20px;
    font-size: 12px;
}
/* Corpo del testo */
.highlight {
    background-color: yellow;
}

.space{
    margin-top: 20px;
    margin-bottom: 20px;
}

.list{
    margin-left: 20px;
}

/* Tabella */
.table{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
thead{
    background-color: rgb(32, 169, 229);
    text-align: left;
}

.blutable {
    background-color: rgb(177, 229, 242);
}

table{
    border-collapse: collapse;

}

td{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    text-align: left;
}

th{
    color: white;
}

/* Immagini Finali */
.footer1{
    margin-top: 10px;
    padding: 15px;
    color: white;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    width: 270px;
    height: 220px;
;
}

.footer2{
    padding: 15px;
    color: white;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    width: 270px;
    height: 220px;
}